.characterdetail__container {
  background-color: transparent;
  border-radius: 5%;
  border: rgb(165, 202, 74) solid 4px;
  max-width: 280px;
  display: flex;
  flex-direction: row;

  & .characterdetail__container--image {
    width: 60%;

    & img {
      width: 100%;
    }
  }

  & .characterdetail__container--info {
    display: flex;
    flex-direction: column;

    & h2,
    span {
      margin: 0px;
      font-size: 16px;
      color: white;
    }
  }
}
