form {
max-width: 220px;

  & input {
    background-color: transparent;
    color: rgb(165, 202, 74); 
    border: #a5ca4a solid 2px;
    border-radius: 8px;
    width: 100%;
    height: 25px;
   
  }
}
::placeholder{
    color: rgb(165, 202, 74) ;
    padding: 2px;
}