@import './header';
@import './characterList';
@import'./characterDetail';

.App {
  text-align: center;
  background-image: url(../images/vialactea.jpg);
  background-size: cover;
  width: 100%;
}


